.velologo {
    height: 300px;
    margin: 0;
    padding-top: 40px;
	margin-bottom: -30px;
}

.velologo table {
	width: 100%;
}

.velofooter {
    font: bold 8pt Georgia, Times New Roman, serif;
    text-align: center;
}

.velonews{
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.newsmaker {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.newsdate {
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 0 4px 0 4px;
    -moz-border-radius: 0 4px 0 4px;
    border-radius: 0 4px 0 4px;
}

.newstitle {
	position: relative;
	text-align: center;
	top: -30px;
	left: -30px;
	margin-bottom: -30px;
	padding: 3px 7px;
	font-size: 16px;
	font-weight: bold;
}

.custom_page {
	position: relative;
	margin: 15px 0;
	padding: 36px 19px 14px;
	*padding-top: 19px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

}

.page_header {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 98.5%;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}


.bottom_right {
    position: absolute;
    bottom: -1px;
    right: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0px 4px 0px;
    -moz-border-radius: 4px 0px 4px 0px;
    border-radius: 4px 0px 4px 0px;
}

.news_pagination {
	text-align: center;
}

.pagination {
  margin: 0 0 0 0;
}

.pagination ul > .disabled > a {
  background-color: white;
}

.pagination ul > .disabled > a:hover{
  background-color: white;
}

#create_new {
  font-size: 12px;
  font-weight: normal;
}

#velobreadcrumb {
  padding-left: 10px;
  font-weight: bold;
}
body {
	background-color: #e0dcb6;
}
textarea, .uneditable-input {
  width: 100%;
}

.djangobb_box{
  position: relative;
  margin: 15px 0;
  padding: 9px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

#djangobb_messagebox{
  padding-top: 30px;
}

#forum_box {
	padding-top: 30px;
}

.djangobb_box_name {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
//    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.djangobb_contr {
	float: right;
	text-align: right;
	clear: right;
}

.djangobb_conl {
	float: left;
	width: 55%;
	overflow: hidden;
	white-space: nowrap;
}

.djangobb_clearb {
	clear: both;
}

.djangobb_clearer {
	height: 0;
	width: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	clear: both;
}

#djangobb_onlinelist DD, #djangobb_onlinelist DT {
	display: inline;
	height: 0;
}

.djangobb_lofi {
	text-align: center;
}

.djangobb_forumname {
	font-size: 12px;
	font-weight: bold;
}

TD DIV.djangobb_column {
//	height: 1px;
	margin-left: 2.3em
}

.djangobb_column1 {
	width: 50%;
	text-align: left;
}

.djangobb_column2, .djangobb_column3 {
	width: 9%;
	text-align: center;
}

.djangobb_column4 {
	width: 32%;
	text-align: left;
}

SPAN.byuser {color: silver;}

div.custom_page.login li {
    color: #a94442;
    background-color: #f2dede;
    list-style-type: none;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.helptext {
    font-style: italic;
    color: darkgray;
    font-size: small;
    display:inline-block
}