{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Кіровоградський велоклуб Там-Де-Ми">
    <meta name="keywords"
          content="Кіровоградський,Кировоградский,велоклуб,ТамДеМи,Там-Де-Ми,велосипед,велопрогулянки,велопрогулки,вело, Кіровоград">
    <meta name="author" content="Eugene Ghostishev">
    <meta charset="UTF-8">

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/Font-Awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/velo.css' %}"/>

    <title>{{ page_title }}</title>

    <!-- Google analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34884216-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>

</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="{% url 'home' %}"><i class="icon-home"></i> Головна</a></li>
                    <li><a href="{% url 'home' %}"><i class="icon-comment"></i> Форум
                        <!--<span class="badge badge-inverse">8</span>--></a></li>
                    <li><a href="{% url 'trip' %}"><i class="icon-road"></i> Маршрути</a></li>
                    <li><a href="{% url 'calendar' %}"><i class="icon-calendar"></i> Календар</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-info-sign"></i>
                            Інформація <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Клуб</li>
                            <li><a href="{% url 'about' %}">Про клуб</a></li>
                            <li><a href="{% url 'contacts' %}">Контакти</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Інше</li>
                            <li><a href="{% url 'shops' %}">Веломагазини</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Покатушки</li>
                            <li>
                                <a href="https://docs.google.com/spreadsheet/ccc?key=0AvRdpE5FWYd8dDV3b3NCYkJPeWxWRXNCYTNlbmxNdHc#gid=26">Заявка
                                    на подорож</a></li>
                            <li><a href="https://drive.google.com/open?id=0B_RdpE5FWYd8WTBVT2NWMHA5dTQ&authuser=1">Заявка-анкета
                                для вступу в клуб</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Картографія</li>
                            <li><a href="{% url 'online_map' %}">Мапа онлайн</a></li>
                            <li><a href="/nav">Карти для навігаторів</a></li>
                        </ul>
                    </li>

                    <!-- Переробити логін на popup -->
                    {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                    class="icon-user"></i> {{ request.user.username }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'logout' %}?next={{ request.path }}">Вихід</a></li>
                                <li><a href="/forum/user/{{ request.user.username }}/">Профіль</a></li>
                                <li><a href="/pm/inbox/">Приватні повідомлення
                                    {% if messages_inbox_count %}
                                        <span class="badge badge-inverse">{{ messages_inbox_count }}</span>
                                    {% endif %}</a></li>
                                <li><a href="/forum/users/">Користувачі</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Форум</li>
                                <!--<li><a href="/forum/search/">Пошук</a></li>-->
                                <li><a href="/forum/search/?action=show_new">Непрочитані повідомлення</a></li>
                                <li><a onclick="return confirm('Все буде позначене як прочитане. Ви впевнені?')"
                                       href="/forum/misc/?action=markread">Позначити все як прочитане</a></li>
                                {% if request.user.is_superuser %}
                                    <li class="divider"></li>
                                    <li class="nav-header">Адміністрування</li>
                                    <li><a href="/admin/content/news/add/"><i class="icon-plus"></i> Додати новину</a>
                                    </li>
                                    <li><a href="/admin/content/article/add/"><i class="icon-plus"></i> Додати
                                        статтю</a></li>
                                    <li><a href="/admin/content/tracks/add/"><i class="icon-plus"></i> Додати трек</a>
                                    </li>
                                    <li><a href="/admin"><i class="icon-wrench"></i> Щось інше...</a></li>
                                {% endif %}
                            </ul>
                        </li>

                    {% else %}
                        <li><a href="{% url 'signin' %}"><i class="icon-user"></i> Вхід</a></li>
                    {% endif %}


                </ul>

            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
    });
</script>

<!-- header -->
<header id="header">
    <div class="velologo">
        <table>
            <tbody>
            <tr>
                <td style="background:url(/static/images/logo_l.png) repeat-x top right;" height="300"></td>
                <td style="background:url(/static/images/logo.png) no-repeat;" height="300" width="935"></td>
                <td style="background:url(/static/images/logo_r.png) repeat-x top left;" height="300"></td>
            </tr>
            </tbody>
        </table>
    </div>
</header>
<div class="container" id="page">
    <section>
        {% block content %}
        {% endblock %}
    </section>
</div>
<!-- page -->
<footer class="velofooter">
    <p class="credit">
        <img src="{% static 'images/footer.png' %}" alt=""><br>
        2012 -
        <script>document.write(new Date().getFullYear())</script>
        © Там-Де-Ми
    </p>
</footer>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>
