{% extends 'velo/base.html' %}
{% block content %}

        <div class="custom_page" style="padding-top: 20px;">
            <iframe width="100%" height="650" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="http://www.openstreetmap.org/export/embed.html?bbox=31.98497772216797%2C48.42259363317972%2C32.49481201171875%2C48.63517748945267"></iframe>
            <br/>
            <small><a href="http://www.openstreetmap.org/#map=12/48.5290/32.2399">Переглянути більшу мапу</a></small>
        </div>

{% endblock %}
